__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv/
venv/

.ruff_cache/
.pytest_cache/

.python-version
Makefile

bundle_builder/
release/

*.env
secrets/
logs/
data/
output/

.git/
.gitignore
.gitattributes
.gitmodules
.pre-commit-config.yaml

.vscode/
.idea/
